includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - app/
    excludePaths:
        - app/Enums/*
        - app/Console/Kernel.php (?)
        - app/Mail/*
    universalObjectCratesClasses:
        - Illuminate\Http\Request

    ignoreErrors:
        # Laravel magic facade access
        - '#Access to an undefined property Illuminate\\Http\\Request#'
        - '#Access to an undefined property Illuminate\\Database\\Eloquent\\Model#'
        # Dynamic where clauses on Eloquent
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\#'
        - '#Call to an undefined method Illuminate\\Database\\Eloquent\\Builder::#'
        # Filament resource magic
        - '#Call to static method make\(\) on an unknown class#'
        # Laravel container magic
        - '#Parameter \#\d+ \$callback of function call_user_func_array expects#'
        # Generic model/database magic
        - '#Cannot access property \$[a-zA-Z_]+ on#'
        - '#Dynamic call to static method#'
        - '#Unsafe usage of new static#'
        # MediaLibrary and other package magic
        - '#Call to an undefined method Spatie\\MediaLibrary\\#'
        # Scout searchable
        - '#Call to an undefined method Laravel\\Scout\\#'
    reportUnmatchedIgnoredErrors: false
